extends layout
 
block content
  include navbar 

  div.container
    div.content

    br
    br
    br
    - if (typeof(messages) != 'undefined') {
      ul#messages
        - each message in messages    
          li #{message}
    - }

    h3
      p Welcome to the open source sensor actuator system (no name yet)
      
    div 
      p Below is a list of things, still todo. Since this is alfa, there will be bugs, and annoyances, be prepared ;)

    table.table.table-striped
      thead
        tr
          th TODO
          th Description
      tbody
        tr
          td Delete things
          td We can disabel a device, but we'd also like to delete stuff from the database permanently.
        tr
          td Graph + life?
          td Show a graph of the last so many reading, just to make sure it is working. Maybe also last reading for this variable/sensor?
  div.footer