extends layout
 
block content
  include navbar 

  div.container
    div.content

    br
    br
    br
    - if (typeof(messages) != 'undefined') {
      ul#messages
        - each message in messages    
          li #{message}
    - }

    h3
      p Welcome to the dasling Front-End. 

    p 
      Some pointers to get you started:
    ul
      <a href = "http://github.com/dasling/dasling">dasling documentation</a>
      
  div.footer
